<div class="container">
  <div class="row">
    <div class="col-sm-4 col-sm-offset-4">
      <h1>My Profile Page</h1>
  <ul>
    <li><%= @user.first_name %></li>
    <li><%= @user.last_name %></li>
    <li><%= @user.description %></li>
    <li><% if @user.photo? %>
          <%= cl_image_tag @user.photo.path, width: 200, height: 300, crop: :fill %>
        <% end %></li>
    <%= link_to "Edit Profile", edit_user_path(@user) %>
  </ul>

    </div>
  </div>

  <div class="row">
    <div class="col-sm-4 col-sm-offset-4">
      <h1>Your Plants</h1>
      <% @user.plants.each do |plant| %>
        <li><%= plant.name %> </li>
        <% if plant.bookings.empty? %>
          <p>You don't have any bookings yet</p>
        <% else %>
          <% @user.bookings.each do |booking| %>
           <li> <%= booking.user.first_name %> a fait une réservation du <%= booking.start_date.to_formatted_s(:long) %> au <%= booking.end_date.to_formatted_s(:long) %></li>
           <li ><%= booking.status %></li>
           <li> <%= link_to "accept", accept_booking_path(booking)%></li>
            <li> <%= link_to "reject", reject_booking_path(booking)%></li>
          <% end %>
        <% end %>
      <% end %>
    </div>
     <div class="col-sm-4 col-sm-offset-4">
      <%= link_to "Add Plant", new_plant_path %>
    </div>
  </div>

  <div class="row">
      <div class="col-sm-4 col-sm-offset-4">
        <h1>Your Upcoming Bookings</h1>
        <% @user.bookings.each do |booking| %>
        <li>
        <%= booking.plant.name %>
        <%= booking.plant.user.first_name %>
        <%= booking.status %>
      <% end %>
        </li>
      </div>
    </div>

</div>
